body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,p{
  margin: 5px;
}

.App {
  display: grid;
  width: 100%;
  height: 100vh;
  background-color: rgb(56, 56, 56);
}
.cell{
  width: 3rem;
  height: 3rem;
  padding: 0;
  background-color: beige;
  border: 0;
  border-radius: 5px;
}

.board{
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,3rem);
  grid-template-rows: repeat(3,3rem);
  gap: 2rem;
}

.endCard{
  margin: auto;
  padding: 1rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
}
.endCard .newGame{
  margin: 5px;
  background-color: #ff397a;
  border-radius: 5px;
  border: 0;
  padding: 0.5rem;
}